/* index.css */
body {
  font-family: Arial, sans-serif;
  transition: background-color 0.7s, color 0.7s;
}
body.dark-mode {
  background-color: rgb(21,20,20);
  color: white;
}
body.light-mode {
  background-color: white;
  color: black;
}
.toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  display: none;
}

.toggle-label {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-label::before {
  content: '';
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

input[type="checkbox"]:checked + .toggle-label {
  background-color: #666;
}

input[type="checkbox"]:checked + .toggle-label::before {
  transform: translateX(30px);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}
.topnav {
  display: flex;
  width: 98%;
  
  position: fixed;
  border-radius: 30px;
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items vertically */
  background-color: #333;
  padding: 3px;
}

.blocks {
  padding-top: 75px;
  font-size: 20px;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
}

.nav-right {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-left: auto; /* Push items to the right */
}

.topnav a{
  float: left;
  color: #f2f2f2;
  text-decoration: none;
  padding: 0px 15px;
  font-size: 17px;
}
.topnav b {
  font-family: "Roboto", sans-serif;

  float: left;
  color: #f2f2f2;
  text-align:center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 30px;
}
.topnav .active {
  font-weight: bold;
}

.main {
  padding: 20px;
}
